{% extends "base.html" %}

{% block title %}Forecast - ClimaPulse{% endblock %}

{% block content %}
<div class="row fullscreen">
    <div class="col-12">
        <div class="bg-light">
            <p>Choosen location</p>
            <h4>Forecast</h4>
        </div>
        <!-- first row  -->
        <div class="row">
            <div class="col-12">
                <div class="rounded-custom hero-section" style=" height: 300px;">
                    <div class="overlay">
                        <div class="hero-content">
                            <h1>Coming Soon ... </h1>
                        </div>
                    </div>
                </div>
            </div>
               
        </div>
        <!-- second row  -->
        <div style="margin-top: 20px;" class="row">
            <div class="bg-light">
                <h4>Today's Highlights</h4>
            </div>
            <div class="col-3">
                <div class="rounded-custom data-card">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="rounded-custom data-card">
                   
                </div>
            </div>  
            <div class="col-3">
                <div class="rounded-custom data-card">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="rounded-custom data-card">
                    
                </div>
            </div>  
        </div>
        <!-- third row  -->
        <div class="row">
            <div class="col-12">
                <div class="bg-light" style="margin-top: 26px;">
                </div>
                <div class="rounded-custom data-card" style=" height: 250px;">
                    
                </div>
            </div>  
        </div>
    </div>
</div>

{% endblock %}
