{% extends "base.html" %}
{% load static %}
{% block title %}Blog - ClimaPulse{% endblock %}

{% block content %}
<div class="row fullscreen">
    <div class="col-12">
        <div class="bg-light">
        </div>
        <!-- first row  -->
        <div class="row">
            <div class="container" style="margin-top: 150px;">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="mb-0">Create Account</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="mb-3">
                                            <label class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <div class="text-danger small">{{ field.errors|striptags }}</div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" class="btn w-100" style="background-color: rgb(1, 1, 124); color: rgb(177, 177, 177);">Sign Up</button>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                Already have an account? <a href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
